<div class="container d-flex flex-row">
	<app-cocktail-list
		[cocktails]="cocktails$ | async"
		class="flex-50 pr-10"
	></app-cocktail-list>
	<div class="flex-50 pl-10">
		<router-outlet></router-outlet>
	</div>
</div>
