<h3 class="mb-20">Liste des cocktails</h3>
<input
	class="mb-20 w-100"
	type="text" [(ngModel)]="search"
	placeholder="Rechercher un cocktail"
>
<ul class="mb-20 list-primary">
	<li
	 [routerLink]="[index]"
	 routerLinkActive="active"
	 *ngFor="let cocktail of cocktails | filter: search; let index = index"
	>
	{{ cocktail.name }}
	</li>
</ul>
<button routerLink="new" class="btn btn-primary">Ajouter un coctail</button>
