<div class="container" style="padding-top: 200px">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="d-flex flex-column form-group">
      <label>Nom</label>
      <input formControlName="name" type="text">
      <p *ngIf="name?.errors">
        On accepte pas les paul
      </p>
    </div>
    <div formGroupName="login">

      <div class="d-flex flex-column form-group">
        <label>Email</label>
        <input formControlName="email" type="email">
      </div>
      <div class="d-flex flex-column form-group">
        <label>Mot de passe</label>
        <input formControlName="password" type="password">
      </div>

    </div>
    <div class="d-flex flex-column form-group">
      <label>Confirmation</label>
      <input type="password">
    </div>
    <button class="btn btn-primary" style="margin-top: 20px">Valider</button>
  </form>
</div>
