<ul class="list-primary">
	<li *ngFor="let ingredient of ingredients" class="d-flex flex-row flex-justify-content-between">
		<span class="flex-fill">{{ ingredient.name }}</span>
		<span class="badge">{{ ingredient.quantity }}</span>
	</li>
</ul>
