<nav class="d-flex flex-row flex-justify-content-between flex-align-items-center p-10">
	<a routerLink='cocktails' class="logo p-20" href="#"> Cocktails </a>
	<ul>
		<li routerLink='cocktails' routerLinkActive='active'>
			 Recettes
		</li>
		<li routerLink='panier' routerLinkActive='active'>
			 Ingredients
		</li>
	</ul>
</nav>

