nav {
	background: var(--primary);
	color: white;
	.logo {
		font-size: 20px;
		font-weight: 700;
	}
}

ul {
	li {
		display: inline-block;
		border-radius: 3px;
		padding: 10px 20px;
		margin-right: 10px;
		cursor: pointer;
		&:hover {
			background-color: var(--secondary);
		}
		transition: background-color .4s;
	}
}
