<div class="container" style="padding-top: 200px">
  <h3>Formulaire 2</h3>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="d-flex flex-column form-group">
      <label>Nom</label>
      <input formControlName="name" type="text">
    </div>
    <div class="d-flex flex-column form-group">
      <label>Email</label>
      <input formControlName="email" type="email">
    </div>
    <div FormArrayName="hobbies" class="d-flex flex-column form-group">
      <label>Hobby</label>
      <button
        type="button"
        class="btn btn-primary "
        (click)="addHobby()"
      >Ajouter hobby</button>
      <input
        class="m-10"
        [formControlName]="index"
        *ngFor="let hobby of hobbies; let index = index"
        type="text"
      >
    </div>
    <div class="d-flex flex-column form-group">
      <label>Mot de passe</label>
      <input formControlName="password" type="password">
    </div>
    <button class="btn btn-primary" style="margin-top: 20px">Valider</button>
  </form>
</div>
