/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

li {
	color: red;
	text-align: center;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit
}

hr {
	margin: 20px 0px;
	border: 1px solid #ddd;
}

input {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 8px 15px;
}

button:disabled {
	opacity: .5;
	cursor: not-allowed;
}

:root {
	--primary-dark:#24789C;
	--primary:#34ace0;
	--secondary-dark:#AA2E25;
	--secondary:#f44336;
	--accent:#706fd3;
	--lightgray:#aaa69d;
	--text-regular:#444;
}

body {
	color:var(--text-regular)
}

.thumbnail {
	width: 200px;
}

// layout

.container {
	max-width: 1200px;
	display: block;
	margin: auto;
	padding: 20px;
}

.d-flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-justify-content-center {
	justify-content: center;
}

.flex-justify-content-between {
	justify-content: space-between;
}

.flex-align-items-center {
	align-items: center;
}

.flex-align-items-between {
	align-items: space-between;
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-50 {
	flex: 1 1 50%;
}

// utils

.p-10 {
	padding: 10px;
}

.p-20 {
	padding: 20px;
}

.pr-10 {
	padding-right: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.m-10 {
	margin: 10px;
}

.m-20 {
	margin: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.w-100 {
	width: 100%;
}

// theme
.list-primary-action {
	li {
		&:hover {
			background-color: var(--primary);
			color: white;
			cursor: pointer;
		}
		transition: background-color .4s;
	}
}

.list-primary {
	li {
		padding: 10px 15px;
		border: 1px solid var(--lightgray);
		border-top: 0;
	}
	li:first-child {
		border-top: 1px solid var(--lightgray);
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
	li:last-child {
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
	}
}

.badge {
	background-color: var(--secondary);
	border-radius: 3px;
	padding: 2px 5px;
	color: white;
	font-size: 12px;
	font-weight: 500;
}

.active {
	background-color: var(--secondary);
}

.btn {
	padding: 10px 15px;
	color: white;
	cursor: pointer;
	border: 0;
	border-radius: 7px;
	font-weight: 700;
	&-primary {
		background-color: white;
		color: black;
		&:hover {
			background-color: black;
			color: white;
		}
		transition: background-color .4s;
	}
	&-secondary {
		background-color: #ddd;
		color: black;
		&:hover {
			background-color: #877e82;
		}
		transition: background-color .4s;
	}
}

// debug

.d1 {
	border: 1px solid red;
}

.d2 {
	border: 1px solid green;
}

.square {
	border: 2px solid black;
	width: 200px;
	height: 200px;
}
