<div
  class="container d-flex flex-column flex-justify-content flex-align-items-center"
  style="padding-top: 100px"
>
  <div class="w-100 d-flex flex-row flex-justify-content-center">
    <button (click)="state = 'normal'" class="btn btn-primary m-20">normal</button>
    <button (click)="state = 'wild'" class="btn btn-primary m-20">wild</button>
  </div>
  <div class="w-100 d-flex flex-row flex-justify-content-center">
    <div [@square]="state" class="square"></div>
  </div>
  <div class="m-10 w-100 d-flex flex-row flex-justify-content-center">
    <ul
      *ngIf="display"
      @list
      (@list.start)="toggle($event)"
      (@list.done)="toggle($event)"
    >
      <li>value value value value</li>
      <li>value</li>
      <li>value value value value</li>
      <li>value</li>
      <li>value value value</li>
      <li>value</li>
      <li>value value</li>
    </ul>
  </div>
</div>
